:root {
    --verde-light : #d0f7b2;
    --verde-background : #b8e695;
    --verde : #CAFBA4;
    --blu : #5d9685;
    --link : #376255;
    --blu-hover : #64A894;
    --gap : 15px;
}

* {
    font-family: 'Bricolage Grotesque', sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    background-color: var(--verde-background);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;

    align-items: center;
    height: 800px;
    max-height: 95vh;
    margin: 10px;
    margin-bottom: 30px;
    flex-direction: column; */
}

main {
    /* background-color: red; */
    width: 600px;
    max-width: 100%;
    height: 600px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
    background-color: var(--verde);
    border-radius: var(--gap);
    align-items: center;
}

.controller{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */

}

.main-section{
    /* background-color: blueviolet; */
    width: 100%;
    height: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.pulsante-auguri{
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--blu);
    cursor: pointer;
    transition-property: all;
    transform: translateY(0);
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}

.pulsante-auguri:hover{
    background-color: var(--blu-hover);
    transform: translateY(-5px);
}

.stile-input{
    border-style: none;
    border-radius: 10px;
}

#testo {
    font-size: large;
    padding: 10px;
    resize: none;
    max-width: 80%;
    
}

#testo:focus, #nome:focus{
    outline-color: var(--blu);
}

#nome{
    height: 50px;
    max-width: 100%;
    width: 280px;
    min-width: auto;
    text-align: center;
    font-size: large;
}

.logo{
    width: 200px;
}

.credits{
    color: var(--blu);
}

.credits a {
    text-decoration: none;
    color: var(--link);
}

#nero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.382);
    width: 100%;
    height: 100vh;
    /* transition-property: opacity;
    transition-duration: 0.7s; */
    opacity: 0;
    z-index: -2;
    cursor: pointer;
    top: 0px;
}

.visibile {
    z-index: 200 !important;
    opacity: 1 !important;
}

html{

}
.container {
    background-color: var(--verde-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    max-height: 95vh;
    margin: 10px;
    margin-bottom: 30px;
    flex-direction: column;
}

.testoFinale{
    width: 300px;
    height: 300px;
    background-color: white;
    position: absolute;
    z-index: 300;
    border-radius: 15px;
}

.animazioneEntra{
    animation-name: compare;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.animazioneEsce{
    animation-name: scompare;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes compare {
    0%{display: none;
        transform: translateY(20px);
        opacity: 0;
        z-index: -300;
    }

    1%{
        display: flex!;
        z-index: 300 !important;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
        z-index: 300 !important;
    }
    
}

@keyframes scompare {
    0%{
        display: flex;
    }

    100%{
        display: none;
    }
    
}

#cover{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 0;
    z-index: -50;
}

#risultato{
    width: 300px;
    max-width: 90%;
    min-height: 150px;
    max-height: 70%;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    z-index: 300;
    padding: 20px;
    
}

.testo-dentro {
    width: 100%;
    min-height: 20px;
    font-size: smaller;
    color: #a5a5a5;
}

.testo-dentro-grande {
    width: 100%;
    min-height: 40px;
    
    color: #a5a5a5;
}

#chiudi {
    width: 40%;
    height: 36px;
    background-color: #ec7777;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}